body {
  background-color: #0a0a0a;
  color: #eee;
  font-family: 'Cinzel', serif;
  /*background-image: url('/bonfiredarksouls.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
}